* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: start;
  height: 750px;
  background-color: rgb(76 96 96);
  /* background-image: url(../img/star.png); */
  background-size: 30px;
  /* background-repeat: space; */
}
section {
  height: 800px;
  width: 220px;
}
.img-one {
  margin-left: 100px;
  width: 120px;
  position: relative;
  animation-name: example;
  animation-duration: 30s;
  animation-iteration-count: 3000;
  display: block;
}
.img-2 {
  margin-left: 100px;
  width: 120px;
  position: relative;
  animation-name: exampl;
  animation-duration: 30s;
  animation-iteration-count: 3000;
}

@keyframes example {
  0% {
    top: 0;
  }
  25% {
    top: 608px;
    left: 0;
    transform: rotateY(180deg);
  }
  50% {
    top: 608px;

    left: 1300px;
  }
  75% {
    left: 1300px;
    top: 0;
  }
  100% {
    left: 0;
    top: 0;
  }
}
@keyframes exampl {
  0% {
    top: -30px;
    transform: rotateY(180deg);
    left: 0;
  }
  25% {
    left: 1400px;
    top: -30px;
  }
  50% {
    top: 608px;

    left: 1400px;
  }
  75% {
    top: 608px;
    left: 0;
  }
  100% {
    left: 0;
    top: -30px;
  }
}
header {
  height: 440px;
  width: 1200px;
  margin-top: 150px;
  background: rgb(107, 214, 121);
  border-radius: 12px;
  border: 12px solid rgb(49, 48, 48);
  box-shadow: 5px 5px 5px 10px grey inset;
  display: flex;
  justify-content: space-between;
  background-image: url(../img/leaf.png);
  background-size: 100px;
  align-items: center;
}
.pool {
  width: 400px;
  height: 200px;
  background-color: #62c8c8;
  border-radius: 100%;
  border: 9px solid rgb(85, 72, 50);
  box-shadow: 0 4px 8px 05px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.duck {
  width: 60px;
  position: relative;
  left: 16px;
  animation-name: examp;
  animation-duration: 15s;
  animation-iteration-count: 3000;
}
.duck2 {
  width: 30px;
  position: relative;
  bottom: 42px;
}
.duck3 {
  position: relative;
}

@keyframes examp {
  0% {
    top: -30px;
    left: 36px;
  }
  25% {
    left: 120px;
    top: -30px;
  }
  50% {
    top: 58px;
    transform: rotateY(90deg);

    left: 120px;
  }
  75% {
    top: 58px;
    left: 0;
    transform: rotateY(270deg);
  }
  100% {
    left: 0;
    transform: rotateY(270deg);

    top: -30px;
  }
}
.slhof {
  width: 70px;
  margin-left: 30px;
  transform: rotateY(180deg);
  animation-name: exam;
  position: relative;
  animation-duration: 15s;
  animation-iteration-count: 3000;
}
@keyframes exam {
  0% {
    top: -30px;
    left: 36px;
  }
  25% {
    left: 320px;
    top: -30px;
  }
  50% {
    top: 58px;
    transform: rotateY(60deg);

    left: 320px;
  }
  75% {
    top: 58px;
    left: 0;
    transform: rotateY(0deg);
  }
  100% {
    top: -30px;
    left: 36px;
  }
}
.tor {
  width: 150px;
  animation-name: exam;
  position: relative;
  animation-duration: 15s;
  animation-iteration-count: 3000;
  z-index: 10;
  top: -0;
  transform: rotateY(180deg);
}
.tord {
  height: 420px;
}
@keyframes exam {
  0% {
    top: 0;
    right: 0;
  }
  25% {
    right: 1000px;
    top: -30px;
  }
  50% {
    transform: rotateY(0deg);
  }
  75% {
    top: 0;
    right: 0;
  }
  100% {
    top: 0;
    right: 0;
  }
}
.green {
  width: 300px;
  height: 400px;
}
